/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* Global Styles */
* {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif; /* Font for all headings */
}

/* Primary Colors */
:root {
  --primary-bg: #eddbc7; /* Light beige */
  --secondary-bg: #c6a288; /* Beige */
  --primary-text: #2d3a4b; /* Dark blue-gray */
  --secondary-text: #1f2937; /* Dark gray */
  --light-bg: #ffffff; /* White */
  --dark-bg: #000000; /* Black */
  --gray-text: #4a4a4a; /* Gray text */
}

/* Navigation Bar */
.nav-bar {
  background-color: var(--primary-bg);
}

.navbar-link {
  text-decoration: none;
  color: var(--secondary-text);
  padding: 0.5rem 0;
  transition: border-bottom 0.3s ease; /* Smooth transition for hover effect */
}

.navbar-link:hover {
  border-bottom: 2px solid var(--secondary-text);
  padding-bottom: 0.45rem; /* Adjust padding on hover */
}

/* Style for h2 headings with a small underline */
.bordr-head {
  position: relative; /* Ensure that the pseudo-element is positioned relative to the h2 element */
  font-family: "Raleway", sans-serif; /* Ensure consistent font-family for h2 */
  color: #2d3a4b; /* Set text color for h2 */
  margin-bottom: 1rem; /* Adjust spacing below the h2 */
  
}

/* Add an underline using ::after pseudo-element */
.bordr-head::after {
  content: ''; /* No text content, just a decorative line */
  position: absolute; /* Absolute positioning to place the line */
  left: 50%; /* Position the underline horizontally centered */
  bottom: -15px; /* Position the line just below the text */
  transform: translateX(-50%); /* Center the line by translating back by half its width */
  width: 8%; /* Adjust width as needed (e.g., 50% for a centered underline) */
  height: 2px; /* Set the height of the underline */
  background-color: #c6a288; /* Set the color of the underline */
  border-radius: 2px; /* Optional: add a slight curve to the underline */
}


/* Carousel */
.carousel-images {
  height: 73vh; /* Adjust height of carousel images */
  object-fit: cover; /* Cover the container without distortion */
}

/* Banner Section */
.banner-2 {
  background-color: var(--primary-bg);
}

.banner-2 h3 {
  text-transform: uppercase; /* Uppercase text */
}

.banner-2 p {
  font-size: 1rem; /* Adjust font size */
}

/* Custom Paragraph */
.custom-paragraph {
  text-align: justify; /* Justify text */
  text-align-last: center; /* Center the last line */
}

.custom-paragraph::before {
  content: '';
  display: inline-block;
  width: 100%;
}

/* Custom Banner Shadow */
.custom-banner-shadow {
  background-color: #f1f1f1; /* Light gray background */
  padding: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow for the banner */
  border-radius: 0.5rem;
}

/* Service Section */
.service-head {
  margin-bottom: 3rem; /* Margin below the service section heading */
}

/* Service Grid */
.service-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr); 
  gap: 0.8rem; 
}

@media (min-width: 640px) {
  .service-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .service-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1024px) {
  .service-grid {
    grid-template-columns: repeat(5, 1fr);
  }
}

/* Service Card */
.service-card {
  position: relative;
  width: 100%;
  padding-top: 60%; 
  padding-bottom: 15%;
  background-color: var(--light-bg); /* Card background */
  border: 1px solid #e2e8f0; 
  border-radius: 0.375rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); /* Shadow for the card */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transitions */
}

.service-card:hover {
  transform: scale(1.05); /* Slightly enlarge the card on hover */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Image Container */
.image-container {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center horizontally and vertically */
  width: 50%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-container img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 0.375rem;
}

/* Heading Styling */
.service-card h3 {
  margin-top: 0.25rem;
  font-size: 1rem;
  font-weight: 600;
}

/* Alternate Background Colors for Service Cards */
.service-card:nth-child(odd) {
  background-color: var(--light-bg); 
  color: var(--primary-text);
}

.service-card:nth-child(even) {
  background-color: var(--primary-text);
  color: var(--light-bg); 
}

/* Unique Font */
.unique-font {
  font-family: "Great Vibes", cursive;
  font-size: 2.2rem;
}

/* Button Styles */
.bttn {
  color: var(--light-bg);
  background: linear-gradient(90deg, var(--primary-text), var(--secondary-text)); /* Gradient background */
  background-size: 200% 100%;
  background-position: left;
  border: none;
  cursor: pointer;
  transition: background-position 0.5s ease-in-out, box-shadow 0.5s ease-in-out; 
  text-decoration: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Initial shadow */
}

.bttn:hover {
  background-position: right; /* Change gradient position on hover */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5); /* Enhanced shadow */
}

/* Secondary Button Style */
.bttn-2 {
  color: var(--light-bg);
  border: 2px solid var(--primary-text);
  cursor: pointer;
  position: relative;
  background-color: var(--primary-text); 
  text-decoration: none;
  overflow: hidden;
  z-index: 1;
}

.bttn-2::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #1e2532; /* Dark overlay */
  transform: translateX(-100%);
  transition: all .3s; /* Smooth transition */
  z-index: -1;
}

.bttn-2:hover::before {
  transform: translateX(0); /* Slide overlay on hover */
}

/* Scoped styles for the second carousel */
.upcoming {
  background-color: var(--light-bg); /* Set the background color of the carousel */
}

#events-carousel-2 .carousel-control-prev,
#events-carousel-2 .carousel-control-next {
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background for controls */
  border: none;
  width: 50px; 
  height: 50px; 
  opacity: 0; /* Initially hidden */
  transition: opacity 0.4s ease-in-out; /* Smooth transition for appearance */
  display: flex;
  align-items: center;
  justify-content: center;
}

#events-carousel-2 .carousel-control-prev {
  left: 10px; 
  top: 50%;
  transform: translateY(-50%);
}

#events-carousel-2 .carousel-control-next {
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

/* Show buttons on hover */
#events-carousel-2:hover .carousel-control-prev,
#events-carousel-2:hover .carousel-control-next {
  opacity: 1; /* Show buttons on hover */
}

/* Arrow icons */
#events-carousel-2 .carousel-control-prev-icon {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M15 19l-7-7 7-7" /></svg>') no-repeat center center;
  background-size: 24px 24px;
}

#events-carousel-2 .carousel-control-next-icon {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M9 5l7 7-7 7" /></svg>') no-repeat center center;
  background-size: 24px 24px;
}

/* Card styles */
#events-carousel-2 .card {
  position: relative;
  overflow: hidden;
  padding: 10px;
  box-sizing: border-box;
  background-color: var(--light-bg); /* Card background */
  transition: transform 0.3s ease; /* Smooth zoom effect */
}

/* Adjust image size */
#events-carousel-2 .card img {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: transform 0.3s ease; /* Smooth zoom effect */
}

/* Heading styles */
#events-carousel-2 .card h2 {
  position: absolute;
  bottom: 20px; /* Place heading at the bottom by default */
  left: 50%;
  transform: translateX(-50%); /* Center horizontally */
  color: var(--light-bg);
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background for heading */
  padding: 10px;
  border-radius: 5px;
  z-index: 10; /* Ensure heading is above the button */
  transition: transform 0.6s cubic-bezier(0.42, 0, 0.58, 1), bottom 0.6s cubic-bezier(0.42, 0, 0.58, 1); /* Smooth transition for positioning */
}

/* More info button styles */
#events-carousel-2 .card button {
  position: absolute;
  bottom: 20px; 
  left: 50%;
  transform: translateX(-50%);
  opacity: 0; /* Initially hidden */
  transition: opacity 0.6s cubic-bezier(0.42, 0, 0.58, 1), bottom 0.6s cubic-bezier(0.42, 0, 0.58, 1); /* Smooth transition for opacity and position */
  z-index: 5; /* Ensure button is below the heading */
  background-color: rgba(38, 36, 36, 0.25); /* Light dark overlay */
  color: var(--primary-bg); /* Button text color */
}

/* Show heading and button on hover */
#events-carousel-2 .card:hover h2 {
  bottom: 25%; /* Move heading slightly below the middle */
  transform: translate(-50%, -50%) scale(1.1); /* Center heading and slightly scale it */
}

#events-carousel-2 .card:hover button {
  bottom: 40px; /* Keep button visible with adjusted space */
  opacity: 1; /* Make button visible */
}

#events-carousel-2 .card:hover img {
  transform: scale(1.05); /* Slight zoom effect */
}

/* Gallery Images */
.gallery-imgs:hover img {
  transform: scale(1.1); /* Zoom on hover */
}

.gallery-imgs:hover .group-hover\:opacity-50 {
  opacity: 0.5; /* Overlay opacity on hover */
}

/* Booking Process */
.booking-process {
  background-color: #f9f9f9; /* Light gray background */
}

.steps {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.steps-row {
  display: flex;
  justify-content: center;
  gap: 2rem; /* Spacing between steps */
  margin-bottom: 2rem; /* Space between rows */
}

.step {
  text-align: center;
  flex: 1;
  max-width: 300px; /* Limit width of each step */
  position: relative;
}

.step-content {
  margin-top: 1rem;
}

.step i {
  font-size: 2rem;
  color: var(--gray-text); /* Icon color */
}

.booking-process .fas, h3 {
  color: var(--primary-text); /* Text color for booking process */
}

#why-choose-zephyr {
  background-color: var(--primary-bg); /* Background color */
}
